* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --cinza: #808181 !important;
  --perola: #e7e7e6 !important;
  --bege: #f2dfeb !important;
  --lilas: #bd84b5 !important;
  --roxo: #7c376a !important;

  /*==== FONT WEIGHT ====*/

  --bold: 700;
  --medium: 500;
  --lighter: 300;
}

body {
  display: grid;
  place-content: center;
  min-block-size: 100vh;
  margin: 0;
  font-family: "Avenir", sans-serif;
  background-image: linear-gradient(
    to bottom,
    #e7dae6,
    #dac8d8,
    #cdb7ca,
    #c1a5bc,
    #b594ae
  );
  min-height: 100vh;
}

main {
  overflow: hidden;
  margin: 0;
}

/*============= HEADER =============*/

.header-content {
  text-align: center;
}

.header-content h1,
.header-content h2 {
  margin: 0;
  font-family: "Candara", sans-serif;
  color: #7c376a;
}

.header-content h1 {
  font-size: 3rem;
}

.header-content h2 {
  margin-bottom: 5rem;
  font-size: 2rem;
}

.header-image {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}

/*============= NAVBAR =============*/
nav {
  font-family: "Avenir", sans-serif;
  font-weight: var(--medium);
  font-size: 1rem;
  position: relative;
  background-color: #7c376a;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 3.125rem;
}

nav a {
  height: 100%;
  padding: 0 1.25rem;
  color: var(--perola);
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

nav a:hover {
  color: var(--lilas);
}

nav li:first-child {
  margin-right: auto;
}

.nav-logo {
  position: absolute;
  max-width: 18rem;
  object-fit: contain;
  transform: translate(-20%, -18%);
}

.nav-branding {
  color: #7c376a;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 15.625rem;
  z-index: 999;
  background-color: #7c376a44;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li,
.sidebar a {
  width: 100%;
}

.menu-btn {
  display: none;
}

/*============= SERVICOS =============*/

.servicos {
  border-radius: 2.7rem;
  margin: 10rem 10rem;
  padding: 2rem;
  max-height: 50rem;
  text-align: center;
  color: var(--perola);
  background-color: var(--lilas);
}

.servicos-title {
  font-size: 3rem;
  margin-top: 2rem;
}

.servicos-subtitle {
  font-size: 2.2rem;
  margin-top: 1rem;
}

.servicos-text {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 1rem;
}

.servicos-text2 {
  font-size: 1.5rem;
  font-weight: 300;
}

.servicos-img {
  width: 90%;
  height: 0%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.servicos-btn {
  background-color: var(--roxo);
  color: var(--perola);
  border: none;
  border-radius: 5rem;
  width: 16rem;
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
  margin-bottom: 2rem;
}
/*============= MEDIA QUERIES =============*/

@media all and (max-width: 1200px) {
  .servicos {
    margin: 10rem 5rem;
  }

  .servicos-title {
    font-size: 2.8rem;
  }

  .servicos-subtitle {
    font-size: 2rem;
  }

  .servicos-text {
    font-size: 1.8rem;
  }

  .servicos-text2 {
    font-size: 1.3rem;
  }
}

@media all and (max-width: 1000px) {
  nav a {
    padding: 0 1rem;
    font-size: 0.85rem;
  }

  .servicos {
    margin: 10rem 4rem;
  }

  .servicos-title {
    font-size: 2.6rem;
  }

  .servicos-subtitle {
    font-size: 1.8rem;
  }

  .servicos-text {
    font-size: 1.8rem;
  }

  .servicos-text2 {
    font-size: 1.1rem;
  }
}

@media all and (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .servicos {
    margin: 10rem 3rem;
  }

  .servicos-title {
    font-size: 2.4rem;
  }

  .servicos-subtitle {
    font-size: 1.6rem;
  }

  .servicos-text {
    font-size: 1.5rem;
  }

  .servicos-text2 {
    font-size: 1rem;
  }
}

@media all and (max-width: 700px) {
  .servicos-title {
    font-size: 2.2rem;
  }

  .servicos-subtitle {
    font-size: 1.4rem;
  }

  .servicos-text {
    font-size: 1.3rem;
  }

  .servicos-text2 {
    font-size: 0.75rem;
  }
}

@media all and (max-width: 500px) {
  .header-content h1 {
    font-size: 2rem;
  }

  .header-content h2 {
    font-size: 1rem;
  }

  .sidebar {
    width: 100%;
  }

  .servicos-title {
    font-size: 1.8rem;
  }

  .servicos-subtitle {
    font-size: 1.2rem;
  }

  .servicos-text {
    font-size: 0.9rem;
  }

  .servicos-text2 {
    font-size: 0.7rem;
  }

  .servicos-btn {
    width: 10rem;
    font-size: 0.75rem;
  }
}
