* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --cinza: #808181 !important;
  --perola: #e7e7e6 !important;
  --bege: #f2dfeb !important;
  --lilas: #bd84b5 !important;
  --roxo: #7c376a !important;

  /*==== FONT WEIGHT ====*/

  --bold: 700;
  --medium: 500;
  --lighter: 300;
}

body {
  display: grid;
  place-content: center;
  min-block-size: 100vh;
  margin: 0;
  font-family: "Avenir", sans-serif;
  background-image: linear-gradient(
    to bottom,
    #e7dae6,
    #dac8d8,
    #cdb7ca,
    #c1a5bc,
    #b594ae
  );
  min-height: 100vh;
}

main {
  overflow: hidden;
  margin: 0;
}

section {
  position: relative;
  margin-bottom: 10rem;
}

/*============= HEADER =============*/

.header-content {
  text-align: center;
}

.header-content h1,
.header-content h2 {
  margin: 0;
  font-family: "Candara", sans-serif;
  color: #7c376a;
}

.header-content h1 {
  font-size: 3rem;
}

.header-content h2 {
  margin-bottom: 5rem;
  font-size: 2rem;
}

.header-image {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}

/*============= NAVBAR =============*/
nav {
  font-family: "Avenir", sans-serif;
  font-weight: var(--medium);
  font-size: 1rem;
  position: relative;
  background-color: #7c376a;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 3.125rem;
}

nav a {
  height: 100%;
  padding: 0 1.25rem;
  color: var(--perola);
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

nav a:hover {
  color: var(--lilas);
}

nav li:first-child {
  margin-right: auto;
}

.nav-logo {
  position: absolute;
  max-width: 10rem;
  object-fit: contain;
  transform: translate(20%, 6%);
}

.nav-branding {
  color: #7c376a;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 15.625rem;
  z-index: 999;
  background-color: #7c376a44;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li,
.sidebar a {
  width: 100%;
}

.menu-btn {
  display: none;
}

/*============= SERVICOS =============*/

.servicos {
  border-radius: 2.7rem;
  margin: 10rem 10rem;
  padding: 2rem;
  max-height: 50rem;
  text-align: center;
  color: var(--perola);
  background-color: var(--lilas);
}

.servicos-title {
  font-size: 3rem;
  margin-top: 2rem;
}

.servicos-subtitle {
  font-size: 2.2rem;
  margin-top: 1rem;
}

.servicos-text {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 1rem;
}

.servicos-text2 {
  font-size: 1.5rem;
  font-weight: 300;
}

.servicos-img {
  width: 90%;
  height: 0%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.servicos-btn {
  background-color: var(--roxo);
  color: var(--perola);
  border: none;
  border-radius: 5rem;
  width: 16rem;
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

/*============= FEEDBACK =============*/
.feedback,
.colaboradoras,
.contactus {
  margin: 1rem 5rem;
}
.feedback-title {
  color: var(--perola);
  font-size: 3rem;
}

.feedback-img {
  width: 16rem;
}

.swiper {
  width: 100%;
  padding: 3.125rem 0;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 20rem;
  background: var(--lilas);
  border-radius: 2rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.feedbackBox {
  position: relative;
  width: 100%;
  padding: 2.5rem;
  padding-top: 5.625rem;
}

.feedbackBox .quote {
  width: 3.5rem;
  margin-bottom: 2rem;
}

.feedbackBox .content p {
  color: var(--perola);
}

.feedbackBox .details {
  display: flex;
  align-items: center;
  margin-top: 1.25rem;
}

.feedbackBox .details .imgBx {
  position: relative;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.625rem;
}

.feedbackBox .details .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feedbackBox .details h3 {
  font-size: 1rem;
  font-weight: var(--medium);
  letter-spacing: 0.0625rem;
  color: var(--roxo);
  line-height: 1.1em;
}

.feedbackBox .details h3 span {
  font-size: 0.75rem;
  color: var(--perola);
}
/*============= COLABORADORAS =============*/
.colaboradoras-titulo {
  color: var(--roxo);
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-family: "Candara", sans-serif;
  font-weight: var(--bold);
}

.card-container {
  margin-bottom: 2rem;
  padding: 3rem 5rem;
  display: grid;
  justify-content: center;
  grid-template-columns: 21.875rem 21.875rem 21.875rem;
  grid-gap: 5rem;
  background-color: #7c376a;
  border-radius: 1rem;
}

.card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 5px 10px 3px #000000;
}

.card-img {
  position: relative;
  z-index: 10;
  transition: all 400ms ease-out;
  height: 31.25rem;
}

.card-img img {
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: all 400ms ease-out;
  max-width: 100%;
  display: block;
}

.card-content {
  position: absolute;
  top: 15rem;
  bottom: 0;
  left: 0;
  right: -15rem;
  background-color: rgba(white, 0.85);
  text-align: right;
  padding: 2rem 2rem 2rem 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-content h1 {
  color: var(--perola);
  transform: rotate(-90deg);
  text-transform: uppercase;
}

.card:hover .card-img {
  right: 20%;
  cursor: pointer;
}

.card:hover .card-img img {
  box-shadow: 0 1.25rem 1.25rem rgba(black, 0.3);
  opacity: 0.8;
}
/*============= CONTACT US =============*/
.contactus {
  background-color: #7c376a;
  display: flex;
  justify-content: space-between;
  color: var(--perola);
  font-family: "Avenir", sans-serif;
  border-radius: 1rem;
}

.contact-img img {
  width: 35rem;
}

.contact-text h1 {
  margin: 5rem;
  font-size: 3.5rem;
}

.contact-form {
  margin-left: 5rem;
  padding-bottom: 2rem;
}

.contact-form-div {
  position: relative;
  margin-bottom: 2rem;
  height: 4rem;
}

.contact-form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--lilas);
  background: none;
  color: var(--lilas);
  outline: none;
  padding: 1.5rem;
  border-radius: 0.75rem;
  z-index: 1;
}

.contact-form-input::placeholder {
  font-family: "Avenir", sans-serif;
  color: var(--lilas);
}

.contact-form-tag {
  position: absolute;
  top: -1.5rem;
  left: 1.25rem;
  font-size: 1rem;
  padding: 0.25rem;
  z-index: 10;
}

.contact-form-area {
  height: 11rem;
}

.contact-form-area textarea {
  resize: none;
}

.btn {
  border-radius: 2.1875rem;
  color: var(--perola);
  background-color: var(--lilas);
  font-size: 1.125rem;
  width: 20%;
  padding: 0.5rem;
}

.btn:hover {
  background-color: var(--perola);
  color: #7c376a;
  transition: 0.5s ease;
  cursor: pointer;
}

/*============= MEDIA QUERIES =============*/

@media all and (max-width: 1200px) {
  .nav-logo {
    max-width: 9rem;
  }

  .servicos {
    margin: 10rem 5rem;
  }

  .servicos-title {
    font-size: 2.8rem;
  }

  .servicos-subtitle {
    font-size: 2rem;
  }

  .servicos-text {
    font-size: 1.8rem;
  }

  .servicos-text2 {
    font-size: 1.3rem;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 1000px) {
  nav a {
    padding: 0 1rem;
    font-size: 0.85rem;
  }

  .nav-logo {
    max-width: 8rem;
  }

  .servicos {
    margin: 10rem 4rem;
  }

  .servicos-title {
    font-size: 2.6rem;
  }

  .servicos-subtitle {
    font-size: 1.8rem;
  }

  .servicos-text {
    font-size: 1.8rem;
  }

  .servicos-text2 {
    font-size: 1.1rem;
  }

  .image-area {
    left: 50%;
  }
}

@media all and (max-width: 867px) {
  .hideOnMobile {
    display: none;
  }

  .nav-logo {
    max-width: 8rem;
  }

  .menu-btn {
    display: block;
  }

  .servicos {
    margin: 10rem 3rem;
  }

  .servicos-title {
    font-size: 2.4rem;
  }

  .servicos-subtitle {
    font-size: 1.6rem;
  }

  .servicos-text {
    font-size: 1.5rem;
  }

  .servicos-text2 {
    font-size: 1rem;
  }

  .feedback {
    text-align: center;
  }

  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media all and (max-width: 700px) {
  .servicos-title {
    font-size: 2.2rem;
  }

  .servicos-subtitle {
    font-size: 1.4rem;
  }

  .servicos-text {
    font-size: 1.3rem;
  }

  .servicos-text2 {
    font-size: 0.75rem;
  }

  .image-area {
    left: 47%;
  }

  .image-area img {
    max-width: 80%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 1rem;
  }
}

@media all and (max-width: 500px) {
  .header-content h1 {
    font-size: 2rem;
  }

  .header-content h2 {
    font-size: 1rem;
  }

  .nav-logo {
    max-width: 6rem;
  }

  .sidebar {
    width: 100%;
  }

  .servicos-title {
    font-size: 1.8rem;
  }

  .servicos-subtitle {
    font-size: 1.2rem;
  }

  .servicos-text {
    font-size: 0.9rem;
  }

  .servicos-text2 {
    font-size: 0.7rem;
  }

  .servicos-btn {
    width: 10rem;
    font-size: 0.75rem;
  }

  .feedback {
    margin-left: 1.5rem;
  }
}
